<div class="component">
  <div [@panelSwitch]="isLeftOpen ? 'open' : 'close'" class="slot-view">
    <div class="slot-numbers">
      <div class="bingo-panel-group">
        <app-digital-panel class="bingo-panel" *ngFor="let view of topViews" size="{{ view.fontSize }}" color="{{ view.color }}"></app-digital-panel>
      </div>
      <div class="bingo-panel-group">
        <app-digital-panel class="bingo-panel" *ngFor="let view of bottomViews" size="{{ view.fontSize }}" color="{{ view.color }}"></app-digital-panel>
      </div>
    </div>
    <div class="panel-controller">
      <div class="circle button btn-direction-col icon-size b-icon-calc-plus" (click)="plusPanel()"></div>
      <div class="circle button btn-direction-col icon-size b-icon-calc-minus" (click)="minusPanel()"></div>
    </div>
  </div>
  <div class="view-switch" (click)="switchView()">
    <div [@panelSwitch]="isLeftOpen ? 'direction-left' : 'direction-right'" class="b-icon-arrow-left"></div>
  </div>
  <div [@panelSwitch]="isLeftOpen ? 'close' : 'open'" class="drawed-view">
  </div>
</div>