.mat-dialog-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}
p {
    font-size: 18px;
    margin: 0;
}
button {
    font-size: 21px;
    margin-right: 24px;
}
button:last-child() {
    margin-right: 0;
}