<div ngClass="container">
  <div [ngClass]="{'scroll-off': !previewMode}">

    <div id="reelDiv" [ngClass]="{ 'presents': true }">
      <app-present-panel *ngFor="let back of backIndexs" [index]="back"></app-present-panel>
      <app-present-panel *ngFor="let index of indexList" [index]="index"></app-present-panel>
      <app-present-panel *ngFor="let index of indexList" [index]="index"></app-present-panel>
      <app-present-panel *ngFor="let front of frontIndexs" [index]="front"></app-present-panel>
    </div>
  </div>
</div>