<div ngClass="container">
  <div [ngClass]="{'scroll-off': !previewMode}">

    <div id="reelDiv" [ngClass]="{ 'presents': true }">
      <ng-container *ngIf="!previewMode">
        <app-present-panel *ngFor="let back of backIndexs" [index]="back"></app-present-panel>
      </ng-container>
      <app-present-panel *ngFor="let present of presentList; index as i" [index]="i"></app-present-panel>
      <ng-container *ngIf="!previewMode">
        <app-present-panel *ngFor="let front of frontIndexs" [index]="front"></app-present-panel>
      </ng-container>
    </div>
  </div>
</div>