$padding: 32px;
$thumb-size: 150px;
$badge-size: 30px;
$error-color: #fb7a7a;

input, textarea {
    // font-size: calc(100vw / 64);
    font-size: 24px;
}
textarea{
    resize: none;
}
label {
    // font-size: calc(100vw / 64);
    font-size: 18px;
}
img {
    cursor: pointer;
    width: $thumb-size;
    height: $thumb-size;
    object-fit: contain;
}

.container {
    padding: $padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mat-card-title{
        font-size: 28px;
    }
    .card {
        width: 100%;
    }
    .card:nth-child(n+2) {
        margin-top: $padding;
    }
}
.current-controller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .mat-fab {
        font-weight: bold;
        font-size: 24px;
        margin-right: 16px;
    }
    .mat-fab:last-child{
        margin-right: 0;
    }
}
.input-fields {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.input-fields > * {
    width: 100%;
}
.err-message{
    font-size: 18px;
    color: $error-color;
    margin-top: $padding / 2;
}
.thumbnail-list {
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
    overflow-y: auto;
    margin-top: $padding / 2;
    padding: $padding / 2;

    .thumbnail{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: $padding;
        border: dotted 2.5px white;
        padding: 16px;
    
        .badge {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            width: $badge-size;
            height: $badge-size;
            background-color: #252526; 
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
        }
        .badge:hover{
            background-color: #ff0000; 
            color: #ffffff;
        }
    }
    .isSuccess {
        background-color: cornflowerblue;
    }
    .isError {
        background-color: $error-color;
    }
    .thumbnail:hover, .isCurrent {
        box-shadow: 0px 0px 8px 2px white;
    }
}
.present-setting {
    display: flex;
    flex-direction: row;
    height: 450px;
}
.column-frame {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: $padding;
    
}
.left {
    flex-basis: 810px;
}
.right {
    flex-basis: 510px;
    flex-grow: 0;
    flex-shrink: 0;
}
.column-frame:last-child {
    margin-right: 0;
}
.setting-btn {
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    margin-left: $padding;
    background-color: darkcyan;
    border-radius: 8px;
}
.button {
    cursor: pointer;
    margin-top: $padding;
    padding: 16px;;
    background-color: darkcyan;
    font-size: 24px;
    border-radius: 15px;
}
