<div class="container">

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>ビンゴの設定</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form-field">
        <mat-form-field>
          <input matInput type="number" placeholder="ビンゴパネルの枚数（初期値）" min="1" max="6" step="1" [formControl]="panelCount"
            (change)="handleChange($event, 'panelCount')">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>プレゼントの設定</mat-card-title>
    </mat-card-header>
    <label>サムネイル画像を選択してください</label>
    <label for="present" class="file-upload-btn">
      サムネイル画像の登録はこちら
      <input id="present" type="file" name="files[]" style="display: none" multiple="multiple" accept="image/*"
        (change)="handleFileSelect($event)" />
    </label>
    <div class="thumbnail-list">
      <img *ngFor="let file of imageFiles" [ngClass]="{'current': file.isCurrent }" [attr.src]="file.src" [attr.title]="file.name"
        alt="thumbnail" (click)="handleThumbSelect($event)">
    </div>
    <mat-card-content>
      <form class="form-field">
        <mat-form-field>
          <input matInput type="text" placeholder="景品の名前" [formControl]="presentName" (change)="handleChange($event, 'presentName')" />
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="景品の説明" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
            [formControl]="presentDesc" (change)="handleChange($event, 'presentDesc')"></textarea>
        </mat-form-field>
        <mat-checkbox [formControl]="isSecret" (change)="handleChange($event, 'isSecret')">シークレット表示</mat-checkbox>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="button" (click)="gotoBingo()">ビンゴ画面へ</div>

</div>