$padding: 24px;

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $padding;

    display: flex;
    flex-direction: column;
    border: 16px solid #252526;
    border-radius: 16px;
    
    .panel-item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // background-color: #555555;
        // border: solid 1px white;

        .menu-button:hover{
            color: #2662e4;
            // border: solid 2px #2662e4;
        }
        .menu-button {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // border: solid 1px white;
            background-color: #252526;
            padding: $padding;
    
            .icon {
                font-size: 3rem;
                padding-bottom: $padding / 2;
            }
            // background-color: pink;
        }
        .grow3 {
            flex-grow: 3;
        }
        .grow1{
            flex-grow: 1;
        }
        .menu-button:nth-child(n + 2) {
            margin-left: $padding;
        }
        .logo {
            width: auto;
            height: 180px;
            background-color: #252526;
        }
    }

    .panel-item:nth-child(n+2){
        margin-top: $padding;
    }

}