$padding: 24px;

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .menu {
        padding: $padding;
        display: flex;
        flex-direction: column;
        border: 16px solid #252526;
        border-radius: 16px;
    }
    .menu-item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .menu-button:hover{
            color: #2662e4;
        }
        .menu-button {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #252526;
            padding: $padding;
    
            .icon {
                padding-bottom: $padding / 2;
            }
        }
        .grow3 {
            flex-grow: 3;
        }
        .grow1{
            flex-grow: 1;
        }
        .menu-button:nth-child(n + 2) {
            margin-left: $padding;
        }
        .logo {
            width: auto;
            height: 180px;
            background-color: #252526;
        }
    }

    .menu-item:nth-child(n+2){
        margin-top: $padding;
    }

    a:link {
        color: #ffffff;
        text-decoration: underline;
    }
    a:visited {
        color: #ffffff;
        text-decoration: underline;
    
    }
    a:hover {
        color: #2662e4;
        text-decoration: underline;
    
    }
    a:active{
        color: #ffffff;
        text-decoration: underline;
    
    }
}

