/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #151516;
    color: white;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Quicksand;
    src:  url('assets/fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
}
@font-face {
    font-family: Play;
    src:  url('assets/fonts/Play/Play-Bold.ttf') format('truetype');
}
@font-face {
    font-family: Oxygen;
    src:  url('assets/fonts/Oxygen/Oxygen-Bold.ttf') format('truetype');
}
@font-face {
    font-family: Orbitron;
    src:  url('assets/fonts/Orbitron/Orbitron-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'bingo-icon';
    src: url('assets/fonts/bingo-icon/bingo-icon.eot?aiilds');
    src: url('assets/fonts/bingo-icon/bingo-icon.eot?aiilds#iefix') format('embedded-opentype'),
        url('assets/fonts/bingo-icon/bingo-icon.ttf?aiilds') format('truetype'),
        url('assets/fonts/bingo-icon/bingo-icon.woff?aiilds') format('woff'),
        url('assets/fonts/bingo-icon/bingo-icon.svg?aiilds#bingo-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="b-icon-"], [class*=" b-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bingo-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.b-icon-bingo:before {
    content: "\e900";
}
.b-icon-present-box:before {
    content: "\e901";
}
.b-icon-setting:before {
    content: "\e902";
}

.caption {
    font-family: 'Orbitron', sans-serif;
}
.x2 {
    font-size: 2rem;
}
.x3 {
    font-size: 3rem;
}
.x6 {
    font-size: 6rem;
}

