<div class="content">
  <div class="main-view">
    <router-outlet></router-outlet>
  </div>
  <div class="control-menu">
    <app-logo class="button" size="1.7rem" padding="18px" (click)="gotoLanding()"></app-logo>
    <div class="control-set">
      <div class="radius button icon-size" (click)="beginDraw()">
        <div class="b-icon b-icon-bingo-play"></div>
        <div class="caption icon-size" style="margin-left: 16px;">Play</div>
      </div>
    </div>
    <div class="control-set">
      <div class="circle button btn-direction-row icon-size b-icon-bingo"></div>
      <div class="circle button btn-direction-row icon-size b-icon-present-box"></div>
    </div>
  </div>
</div>