<div class="content">
  <div class="main-view">
    <div [@panelSwitch]="isLeftOpen ? 'open' : 'close'" class="bingo-panels">
      <div class="slot-numbers">
        <div class="bingo-panel-group">
          <app-digital-panel class="bingo-panel" *ngFor="let value of panelValues" size="9rem" color="#00a497"></app-digital-panel>
        </div>
        <div class="bingo-panel-group">
          <app-digital-panel class="bingo-panel" *ngFor="let value of panelValues" size="9rem" color="#00a497"></app-digital-panel>
        </div>
      </div>
      <div class="slot-controller">
        <div class="button-col circle icon-size b-icon-calc-plus"></div>
        <div class="button-col circle icon-size b-icon-calc-minus"></div>
      </div>
    </div>
    <div class="panel-switch" (click)="toggleView()">
      <div [@panelSwitch]="isLeftOpen ? 'direction-left' : 'direction-right'" class="b-icon-arrow-left"></div>
    </div>
    <div [@panelSwitch]="isLeftOpen ? 'close' : 'open'" class="drawed-panels">
      <app-digital-panel class="bingo-panel" size="1rem" color="#00a497"></app-digital-panel>
      <app-digital-panel class="bingo-panel" size="1rem" color="#00a497"></app-digital-panel>
      <app-digital-panel class="bingo-panel" size="1rem" color="#00a497"></app-digital-panel>
      <app-digital-panel class="bingo-panel" size="1rem" color="#00a497"></app-digital-panel>
      <app-digital-panel class="bingo-panel" size="1rem" color="#00a497"></app-digital-panel>
    </div>
  </div>
  <div class="control-menu">
    <app-logo class="button" size="1.7rem" (click)="gotoLanding()"></app-logo>
    <div class="control-set">
      <div class="button circle icon-size b-icon-bingo"></div>
      <div class="button circle icon-size b-icon-present-box"></div>
    </div>
    <div class="control-set">
    </div>
  </div>
</div>