$padding: 36px;
$control-menu-height: 180px;
$bingo-theme: #295692;
$present-theme: #b55484;

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .main-view {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
    
        // ↓ control-panelがdisplay:fixedだからマージン必須。
        height: 100vh;
        margin-bottom: $control-menu-height; 
    }
}
.control-menu {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: $control-menu-height;
    width: 100%;
    height: $control-menu-height;

    // background-color: cornflowerblue;
    padding: 0 $padding;
}

.control-set {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.radius {
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    padding: 30px;
    border-radius: 50%;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    cursor: pointer;
}
.button:hover{
    color: cornflowerblue;
    // color: #20262e;
}
.button:active {
    box-shadow: inset 0px 0px 8px cornflowerblue;
    // box-shadow: inset 0px 0px 8px #20262e;
}

.ctrl-row{
    margin-right: $padding;
}
.ctrl-row:last-child{
    margin-right: 0px;
}

.icon-size {
    font-size: 1.6rem;
}

.bg-theme-bingo {
    background-color: $bingo-theme;
}
.fb-theme-bingo {
    color: $bingo-theme;
}
.bg-theme-present {
    background-color: $present-theme;
}
.fb-theme-present {
    color: $present-theme;
}